<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

  <title>    
    {{ page.title }} &middot; {{ site.Name }}
  </title>

  <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/public/css/materialize.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/public/css/style.css"  media="screen,projection"/>

  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
