<nav>
  <div class="nav-wrapper">
    <a class="brand-logo"><span class="truncate">{{ page.synopsis }}</span></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    <ul class="right hide-on-med-and-down">
      <li class="archive"><a href="/">Archive</a></li>
      <li class="about"><a href="/about/">About</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/">Archive</a></li>
      <li><a href="/about/">About</a></li>
    </ul>
  </div>
</nav>