<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>
  <div class="row index-head">
    <div class="col s12 m2 l1 home-button">
      <a class="valign btn-floating btn-large waves-effect waves-light blue-grey darken-3" href="/">
        <i class="mdi-action-home"></i>
      </a> 
    </div>

    <div class="col s12 m10 l11">
      <h3 class="index-title">
        {{ page.title }}
      </h3>
    </div>
  </div>

  <div class="container page-content">
    {{ content }}
  </div>

  {% include scripts.html %}

</body>
</html>